# .env file for OwnFinance application

# PostgreSQL
POSTGRES_DB=ownfinance
POSTGRES_USER=ownfinance_user
POSTGRES_PASSWORD=password

# pgAdmin
PGADMIN_EMAIL=admin@ownfinance.local
PGADMIN_PASSWORD=password

# App
JWT_SECRET=long_random_string_in_production
OPENAI_API_KEY=openai_api_key_here