# Usage: Copy this file to a new application-local.yml file and replace the placeholders with your actual values.

spring:
  datasource:
    username: YOUR_DB_USERNAME_HERE
    password: YOUR_DB_PASSWORD_HERE

  jpa:
    show-sql: true

app:
  jwt:
    secret: YOUR_JWT_SECRET_HERE
  ai:
    api-key: YOUR_API_KEY_HERE
    api-url: YUR_API_URL_HERE
    model: YOUR_MODEL_NAME_HERE